#example1 {
    border: 10px dotted black;
    padding: 35px;
    background: yellowgreen;
}

#example2 {
    border: 10px dotted black;
    padding: 35px;
    background: yellowgreen;
    background-clip: padding-box;
}

#example3 {
    border: 10px dotted black;
    padding: 35px;
    background: yellowgreen;
    background-clip: content-box;
}