p.one {
    border-style: solid;
    border-color: hsl(0, 100%, 50%);
}

p.two {
    border-style: solid;
    border-color: hsl(240, 100%, 50%);
}

p.three {
    border-style: solid;
    border-color: hsl(0, 0%, 73%);
}